* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto;
}

.site {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    height: 550px;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 30px;
}


.nav_toggle {
    position: relative;
    display: none;
    border: 0;
    background: none;
}

.nav_toggle::before {
    content: 'МЕНЮ';
    color: #000;
    font-weight: 400;
    font-size: 18px;
}

.nav_toggle label {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;;
}

.nav a {
    text-decoration: none;
    color: #000;
}

.nav__items ul {
    display: flex;
    list-style-type: none;
}

.nav__item:not(:first-child) {
    margin-left: 55px;
}

.nav__cart a {
    display: flex;
    justify-content: center;
}

.nav__cart p{
    margin-left: 25px;
}


.promo__content {
    display: flex;
    height: 88%;
    width: 100%;
    position: relative;
}

.promo__text {
    display: flex;
}

.promo__text-content {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    max-width: 500px;
}

.promo__text-content .h3{
    font-size: 55px;
}

.promo__text-content .p{
    font-size: 16px;
    margin: 35px 0;
}

.promo__content-wrap {
    display: flex;
}

.promo__btn {
    border: none;
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.btn__link {
    color: #fff;
    text-decoration: none;
}

.promo__image {
    position: absolute;
    bottom: 7%;
    right: 0;
    display: flex;
    align-items: flex-end;
    width: 56%;
}

.promo__image img {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: #fb565a;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0.3px 3px 0;
}

.prev {
    left: -60px;
}

.next {
    right: -60px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}


.ctrl {
    border: none;
}

.ctrl {
    position: relative;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.ctrl::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.ctrl:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 3px solid rgba(102, 102, 102, 0.672);
    transform: translate(-50%, -50%);
    visibility: visible;
}

.ctrl:not(:last-child) {
    margin-right: 10px;
}

.order {
    height: 500px;
    display: flex;  
    align-items: center;
    justify-content: center;
}

.main {
    width: 100%;
}

.columns {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 350px;
    grid-column-gap: 100px;
}

.column__btn {
    width: 160px;
    height: 50px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column .h3 {
    text-transform: uppercase;
}

.column__btn1 {
    background-color: #FB5559;
}

.column__btn2 {
    background-color: #00C973;
}

.column__btn3 {
    background-color: #EFC749;
}

.studio {
    display: flex;
    justify-content: center;
}

.studio .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
}

.studio__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
    width: 60%;
}

.studio__content .h3 {
    font-size: 45px;
}

.studio__content .title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.red_line {
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #FB5559;
    margin-bottom: 3px;
}

.p__list {
    display: inline-block;
    margin-left: 10px;
}

.studio_stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 410px;
    width: 35%;
}

.logo__illustration {
    width: 360px;
}

.studio_stat .p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.number {
    font-size: 45px;
    font-weight: bold;
    display: inline-block;
}

.percents {
    display: flex;
}

.percent__column {
    display: flex;
    flex-direction: column;
}

.number__desc {
    font-size: 18px;
}

.links {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #EEEEEE;
}

.links .container {
    padding: 50px 0;

}

.links__wrap {
    display: flex;
    justify-content: space-around;
}

.map-cont {
    position: relative;
}

.map {
    padding: 50px 0;
    position: relative;
    height: 500px;
    width: 100% !important;
}

.place-card, .place-card-large {
    display: none;
}

.map-info {
    width: 365px;
    height: 350px;
    background-color: #fff;
    position: absolute;
    z-index: 30;
    top: 20%;
    left: 10%;
    display: flex;
    justify-content: center;
}

.map-info__wrap {
    margin: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

.map-info__header {
    text-transform: uppercase;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer .container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
}

.foot_links {
    display: flex;
}

.footer_link:not(:first-child) {
    display: inline-block;
    margin-left: 15px;
}

.footer__content {
    margin-left: 18%;
}

.foot__h3 {
    font-size: 26px;
    font-weight: bold;
}

.hidden{
    display: none;
}

#controls {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5%;
    z-index: 100;
    margin-left: 4%;
}

#nav_toggle {
    display: none;
}